@import "tailwindcss";

@theme {
  --color-bg: #f6f7f9;
}

html,
body,
#root {
  height: 100%;
}

*:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}
